<div
  class="hero min-h-screen bg-[url('./app/assets/98.webp')]"
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">MERCADONA</h1>
      <p class="mb-5">
        Bienvenidos a la mejor tienda de productos variados de España con los mejores
        precios a nivel mundial.
      </p>
      <button class="btn btn-success animate-bounce">Empezar a comprar</button>
    </div>
  </div>
</div>

<h2 class="pt-10 font-bold text-3xl uppercase text-center">Productos</h2>
<br>
<br>
<br>

<cards-container></cards-container>

<br>
<br>
<br>